@charset "UTF-8";

body {
    color: #333;
    font-weight: 300;
}

p, ul {
    font-size: 16px;
    line-height: 24px;
}

p, ul, .title-box .title, h1, h2, h3, h4, h5, h6, .post .entry-title,
footer aside header .title, footer aside .title-box .title, .page-header .title, label {
    font-weight: 300;
}


/* Primary Menu */
.header .primary {
    float: right;
}

.header .logo img {
    width: auto;
}


/* Custom */

.ca-width-100 img {
    width: 100%;
}


/* Homepage */

#brighton-container.container {
    width: 100% !important;
}

/*
.brighton-column {
    max-width: 270px;
    background-color: #fff;
    padding: 0;
    margin-right: 2.5%;
}
*/

/* Image captions */

.image_overlay .description {
    /*
    background: none;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    font-family: "Arial";
    text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
    */
    display: none;
}

/* Ask a question form block */

#block-webform-client-block-164 .title-box.title-h1 {
    margin-bottom: 2.5%;
    margin-left: 7.5%;
    margin-top: 2.5%;
}

#webform-client-form-164 {
    margin-left: 7.5%;
    margin-right: 7.5%;
}

#webform-client-form-164 .webform-component--first-name {
    float: left;
    width: 48.75%;
}

#webform-client-form-164 .webform-component--last-name {
    float: left;
    margin-left: 2.5%;
    width: 48.75%;
}

#webform-client-form-164 .webform-component--email {
    float: left;
    width: 31.66%;
}

#webform-client-form-164 .webform-component--phone {
    float: left;
    margin-left: 2.5%;
    width: 31.66%;
}

#webform-client-form-164 .webform-component--nationality {
    float: left;
    margin-left: 2.5%;
    width: 31.66%;
}

#webform-client-form-164 .form-actions {
    float: right;
    margin-top: 2.5%;
    margin-bottom: 5%;
}

.webform-container-inline.webform-datepicker  div.form-item.form-type-select {
    display: none;
}

#loginregisterlinks {
    color: #ffffff;
    padding-top: 7px;
    text-align: right;
}

#loginregisterlinks a {
    color: #ffffff;
}

/* Login page */

.page-user.fixed-header.fixed-top .header {
    margin-top: 0;
}

.page-user .page-box #main {
    padding-top: 30px;
}

#user-register-form .captcha {
    margin-bottom: 20px;
}
